*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body,#root{
  height: 100%;
  width: 100%;
}
.parent{
  display: flex;
  gap: 1rem;
  padding: 1rem;
}
.child{
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.6rem;
}