*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body,#root{
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}
.parent{
  display: flex;
  gap: 1.3rem;
  margin: 1rem;
}
.child{
  min-width: 25px;
  border: 1px solid white;
  border-radius: 0.7rem;
  padding: 0.5rem 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
form{
  display: flex;
  gap: 1.3rem;
  margin: 1rem;
}
input,button{
  padding: 0.4rem 0.6rem;
}
button{
  width: fit-content;
}
.buttons{
  display: flex;
  gap: 1rem;
}